.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem; /* 32px */
    padding-bottom: 2rem; /* 32px */
}
.btns{
    margin-right: 1rem; 
}
.btn1{
   height: 40px;
   width: 100px;
   color: rgb(168, 46, 46);
   outline: auto;
   cursor: pointer;
   
}
.btn1:hover{
    background-color:  rgb(81 104 129);
    transition-duration: 300ms;
    color: white;
    border-radius: px;
}
.text{
    /* background-color: rgb(134 239 172); */
    background-color: rgb(74, 161, 255);
    padding: 12px;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 0.375rem; /* 6px */

}
.text1{
    color: rgb(220 38 38);
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0em;
    line-height: 1;
}
.clothes{
    height: 400px;
    width: 70%;
    border-radius: 6px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-color: #4b5563;
}
.img2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

@media only screen and (max-width: 768px){
    .buttons{
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        align-items: center;
        margin-left: 7%;
        justify-content: center;
        padding-top: 2rem; /* 32px */
        padding-bottom: 2rem; /* 32px */
    }
    .clothes {
        height: 250px;
        width: 95%;
        margin-left: 3%;
        border-radius: 6px;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
        --tw-shadow-color: #4b5563;
}

}